fastapi
uvicorn
deep-translator
pymupdf
gradio
gradio_client 
python-multipart
sarvamai
python-dotenv
langchain
langchain-google-genai
langchain-community
faiss-cpu
sentence-transformers
langchain-huggingface